%showOnLoad {
    opacity: 0;
    transition: opacity .3s ease-in-out;

    .is-loaded & {
        opacity: 1;
    }
}

%showOnReady {
    opacity: 0;
    transition: opacity .3s ease-in-out;

    .is-ready & {
        opacity: 1;
    }
}

body {
    @extend %showOnReady;
}

.u-content-width {
    opacity: 0;
    transition: opacity .3s .3s ease-in-out;

    .is-ready & {
        opacity: 1;
    }
}

body.has-media-only {

    @include below( pad ) {

        .c-project__media .gallery {
            margin-top: 0;
            padding-top: 0;
        }
    }
}

.c-page-header {
    @extend %showOnReady;

    body.has-media-only .c-slideshow & {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.site-content img:not(.c-hero__image) {
    transition: opacity .3s linear, transform 1s $easeOutCirc;
    will-change: opacity, transform;

    &:not(.is-loaded) {
        opacity: 0 !important;
        transform: scale(1.05) translateZ(0);
        transition: opacity .3s linear, transform 1s .3s $easeOutCirc;
    }
}

.c-hero__content {
    opacity: 0;
    transform: translate3d(0,2rem,0);
    transition: opacity .3s .3s linear, transform 1s .3s $easeOutCirc;
    will-change: opacity, transform;

    html.is-loaded & {
        opacity: 1;
        transform: translateZ(0);
    }
}

.c-card {

    .c-card__frame,
    .c-card__content,
    .c-card__badge {
        opacity: 0;
        transform: translate(0, 50px);
        will-change: opacity, transform;
    }

    .c-card__frame {
        transition: opacity $transition--macro $ease, transform 1s $easeOutCubic;
        will-change: opacity;
    }

    .c-card__content,
    .c-card__badge {
        transition: all 1s $easeOutCubic;
        transition-property: opacity, transform;
        will-change: opacity, transform;
    }

    &.is-visible {
        .c-card__frame,
        .c-card__content,
        .c-card__badge {
            opacity: 1;
            transform: none;
        }
    }
}

.u-no-transition {
    transition: none !important;
}


.site-content {
    position: relative;
    transition: top .6s $easeInOutCubic;
    transition-property: top, opacity;
    top: 0;
    opacity: 1;

    .page-template-portfolio-page & {
        transition-property: opacity !important;
    }
}
