.c-navbar a {
    color: inherit;
}

.c-navbar__checkbox,
.c-navbar__label {
    display: none;
}

.c-navbar__label {
    position: fixed;
    top: 0;
    left: 0;
}

@import "burger";

@include below(lap) {
    @import "mobile";
}

@include above(lap) {
    @import "desktop";
    @import "dropdown";
}
