/*

 */
.c-scroll-arrow[class] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;

    @include above(lap) {
        display: none;
    }

    body:not(.single-jetpack-portfolio) & {
        opacity: 0;
        pointer-events: none;
    }

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transition: opacity .3s $easeInOutCirc;

    svg {
        display: block;
        margin: auto;
    }
}
