.site-title {
    padding: 0;
    font-weight: 700; 
    text-transform: uppercase;

    &:before,
    &:after {
        display: none !important;
    }
}

.site-title,
.site-description {
    margin: 0;
}
